<!-- MODAL: ADD ASSIGNMNET -->
<div class="modal fade" id="addassignment" tabindex="-1" role="dialog" aria-labelledby="addAssignmentLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addassignment">Add An Assignment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label class="input-title" for="nameofassignment" class="col-form-label">Name of Assignment:</label>
            <input type="text" class="form-control" id="nameofassignment">
          </div>
          <div class="form-group">
            <label class="input-title" for="points" class="col-form-label">Points Possible:</label>
            <input type="text" class="form-control" id="points">
          </div>
          <div class="form-group">
            <label class="input-title" for="assignmentmessagetext" class="col-form-label">Notes:</label>
            <textarea class="form-control" id="assignmentmessagetext"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn modal-btn" id="addassignmentsubmit">Submit</button>
      </div>
    </div>
  </div>
</div>