<!-- MODAL: ADD LESSON PLAN -->

<div
  class="modal fade"
  id="lessonplan"
  tabindex="-1"
  role="dialog"
  aria-labelledby="addLessonPlanLabel"
  aria-hidden="true"
>

  <div class="modal-dialog modal-dialog-centered" role="document">

    <div class="modal-content">

      <div class="modal-header">

        <h5 class="modal-title" id="lessonplan">Add A Lesson Plan</h5>

        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >

          <span aria-hidden="true">&times;</span>

        </button>

      </div>

      <div class="modal-body">

        <form>

          <div class="form-group">

            <label class="input-title" for="classId" class="col-form-label">
               Class Id:
            </label>

            <input
              autocomplete="off"
              type="text"
              class="form-control"
              id="classId"
            />

          </div>

          <div class="form-group">

            <label
              class="input-title"
              for="nameoflesson"
              class="col-form-label"
            >
               Name of Lesson:
            </label>

            <input
              autocomplete="off"
              type="text"
              class="form-control"
              id="nameoflesson"
            />

          </div>

          <div class="form-group">

            <label
              class="input-title"
              for="lessonmessagetext"
              class="col-form-label"
            >
               Notes:
            </label>

            <textarea class="form-control" id="lessonmessagetext"></textarea>

          </div>

        </form>

      </div>

      <div class="modal-footer">

        <button type="button" class="btn modal-btn" id="addlessonplansubmit">
           Submit
        </button>

      </div>

    </div>

  </div>

</div>

