<!-- FOOTER -->
<footer class="container-fluid sticky-bottom footer-div">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-12 col-md-2 text-center">
        <img src="/images/logo.svg" class="d-inline-block logo-footer" alt="Logo">
        <small class="d-block mb-3 dev-name">© 2020</small>
      </div>
      <div class="col-6 col-md-2">
        <p class="dev-name">Tim Gangl</p>
        <ul class="list-unstyled text-small">
          <li>
            <a class="dev-links" href="mailto:tim.gangl30@gmail.com"><i class="fas fa-envelope"></i></a>
            <a class="dev-links" href="https://github.com/TimGangl"><i class="fab fa-github-square"></i></a>
            <a class="dev-links" href="https://www.linkedin.com/in/tim-gangl/"><i class="fab fa-linkedin"></i></a>
            <a class="dev-links icon-smaller" href="#"><i class="fas fa-link"></i></a>
          </li>
        </ul>
      </div>
      <div class="col-6 col-md-2">
        <p class="dev-name">Nadine Juraschek</p>
        <ul class="list-unstyled text-small">
          <li> 
            <a class="dev-links" href="mailto:nadine.jura@online.de"><i class="fas fa-envelope"></i></a>
            <a class="dev-links" href="https://github.com/nadinejuraschek"><i class="fab fa-github-square"></i></a>
            <a class="dev-links" href="https://www.linkedin.com/in/nadine-juraschek-3403b0175/"><i class="fab fa-linkedin"></i></a>
            <a class="dev-links icon-smaller" href="#"><i class="fas fa-link"></i></a>
          </li>
        </ul>
      </div>
      <div class="col-6 col-md-2">
        <p class="dev-name">Jed Smit</p>
        <ul class="list-unstyled text-small">
          <li>
            <a class="dev-links" href="mailto:jedsmit1@gmail.com"><i class="fas fa-envelope"></i></a>
            <a class="dev-links" href="https://github.com/jedsmit"><i class="fab fa-github-square"></i></a>
            <a class="dev-links" href="#"><i class="fab fa-linkedin"></i></a>
            <a class="dev-links icon-smaller" href="#"><i class="fas fa-link"></i></a>
          </li>
        </ul>
      </div>
      <div class="col-6 col-md-2">
        <p class="dev-name">Loralee Smith</p>
        <ul class="list-unstyled text-small">
          <li>
            <a class="dev-links" href="mailto:loraleedawn93@gmail.com"><i class="fas fa-envelope"></i></a>
            <a class="dev-links" href="https://github.com/LoraleeSmith"><i class="fab fa-github-square"></i></a>
            <a class="dev-links" href="https://www.linkedin.com/in/loralee-smith/"><i class="fab fa-linkedin"></i></a>
            <a class="dev-links icon-smaller" href="#"><i class="fas fa-link"></i></a>
          </li>
        </ul>
      </div>
      <div class="col-md-1"></div>
    </div>
</footer>

<!-- FONTAWESOME -->
<script src="https://kit.fontawesome.com/ff8d25dcae.js" crossorigin="anonymous"></script>

<!-- JAVASCRIPT -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="/js/index.js"></script>

</body>
</html>