<!DOCTYPE html>

<html>

  <head>

    <link rel="/public/images/favicon.ico" rel="icon" type="image/x-icon" />

    <meta charset="utf-8" />

    <title>teachersPET</title>

    <!-- STYLESHEETS -->

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Quicksand:wght@400;600&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="/styles/styles.css"
      media="screen"
      title="no title"
      charset="utf-8"
    />

  </head>

  <body></body>

</html>

