<!-- NAVBAR -->
<nav class="site-header sticky-top py-1">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
      <a class="py-2" href="#" aria-label="Plan, Educate, Track">
        <img src="/images/logo.svg" class="d-inline-block logo" alt="Logo">
        Plan, Educate, Track
      </a>
      <a class="py-2 d-none d-md-inline-block" href="#">Log In</a>
    </div>
  </nav>