<!-- NAVBAR -->

<nav class="navbar navbar-dark navbar-expand-lg sticky-top">

  <div class="container-fluid d-flex flex-md-row justify-content-between">

    <a class="py-2 logo-text" href="/index" aria-label="teachersPET">

      <img src="/images/logo.svg" class="d-inline-block logo" alt="Logo" />
       teachersPET
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >

      <span class="navbar-toggler-icon"> </span>

    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <div class="navbar-nav ml-auto">

        <a class="nav-link" href="/calendar">

          <i class="fas fa-calendar-alt"></i>

          <span class="nav-link-label">Calendar</span>

        </a>

        <a id="logout-btn" class="nav-link">

          <i class="fas fa-sign-out-alt"></i>

          <span class="nav-link-label">Log Out</span>

        </a>

      </div>

    </div>

  </div>

</nav>

