<%- include('partials/head') -%>

<%- include('partials/navbar') -%>

<!-- ERROR MESSAGE -->
<div class="container content error-message">
  <a class="back-btn" href="/index"><i class="fas fa-arrow-circle-left"></i></a>
  <div class="row">
    <div class="col-12 col-md-4">
      <h1 class="error">This page does not exist...</h1>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>