<%- include('partials/head') -%>

<div class="container-fluid error-message">
    <h1 class="display-4 text-center">404 Not Found</h1>
    <a href="/">← Back To Home</a>
</div>

<%- include('partials/footer') -%>