<%- include('partials/head') -%> <%- include('partials/navbar') -%>
<!-- CALENDAR VIEW -->

<div class="container content">

  <h2>

    <i class="fas fa-calendar-alt"></i>
     Calendar
    <div class="float-right add-remove">

      <a href="/index"><i class="fas fa-arrow-circle-left"></i></a>

    </div>

  </h2>

  <hr />

  <div class="responsiveCal">

    <iframe
      src="<%= process.env.GUEST_USER_CALENDAR_SRC %>"
      style="border-width:0"
      width="800"
      height="600"
      frameborder="0"
      scrolling="no"
    ></iframe>

  </div>

</div>
 <%- include('partials/footer') -%>
