<%- include('partials/head') -%>

<%- include('partials/navbar') -%>

    <div class="container-fluid">
      <div class="row">
        <br>
        <div class="col-sm-2"></div>
        <div class="col-sm-8 rounded" style="background-color: white;">
          <h2 style="margin-top: 1em;">Calendar Here</h2>
          <hr>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam provident repellat asperiores, nesciunt ab,
            beatae eum expedita sed quaerat fugit recusandae sint, eveniet veniam deserunt odit voluptatem repudiandae
            voluptatibus rem. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis repellat consequuntur
            aliquam sequi incidunt ullam enim molestias asperiores saepe! Commodi, quos ad sint ea cumque sapiente qui
            perspiciatis itaque quidem? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi eos cumque
            quas eaque reprehenderit vero architecto modi perferendis, non omnis autem impedit sequi. Obcaecati suscipit
            a repellat, voluptatum tempora expedita! Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto
            neque quae, dolores molestias itaque harum ab temporibus assumenda, ipsa, quos consequatur. In cupiditate
            quos id ullam voluptates rem, tempora necessitatibus. Lorem ipsum dolor, sit amet consectetur adipisicing
            elit. Quasi saepe tempora perspiciatis, vel veritatis sed. Porro eos accusamus perspiciatis architecto optio
            deserunt sit cum, praesentium nesciunt ex magni officia? Dolores! Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Tempora cum laboriosam laborum alias eligendi fugiat beatae saepe assumenda, ea
            recusandae! Aliquid voluptas optio asperiores ducimus deserunt corrupti eos minus veniam! Lorem ipsum dolor
            sit amet consectetur adipisicing elit. Facere iste laudantium sit qui animi assumenda, explicabo autem
            exercitationem libero alias hic nesciunt dolores, tempora, deleniti maxime fugit. Enim, ipsum adipisci?</p>
        </div>
        <div class="col-sm-2"></div>
      </div>
    </div>
  </div>

<%- include('partials/footer') -%>