<%- include('partials/head') -%>

<%- include('partials/navbar') -%>

<div class="container content">
  <h2>
    <i class="fas fa-calendar-alt"></i>
    Calendar
  </h2>
  <hr>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam provident repellat asperiores, nesciunt ab, beatae eum expedita sed quaerat fugit recusandae sint, eveniet veniam deserunt odit voluptatem repudiandae voluptatibus rem. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis repellat consequuntur aliquam sequi incidunt ullam enim molestias asperiores saepe! Commodi, quos ad sint ea cumque sapiente qui perspiciatis itaque quidem?
  </p>
</div>

<%- include('partials/footer') -%>