<%- include('partials/head') -%>
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Teacher's Pet</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="./assets/css/style.css">
</head>

<body>
  <!--Nav Bar-->
  <div class="container-fluid p-0" style="background-color: #131854;">
    <div class="row">
      <div class="col-sm-12">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <h1 class="name">teachersPET</h1>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="index.html" style="color: black;">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="classes.html" style="color: black;">Classes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="calender.html" style="color: black;">Calender</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
    <br>
    <div class="container-fluid">
      <div class="row">
        <br>
        <div class="col-sm-2"></div>
        <div class="col-sm-8 rounded" style="background-color: white;">
          <h2 style="margin-top: 1em;">Classes Info</h2>
          <hr>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat dicta consequatur quod pariatur quam
            commodi odio deserunt expedita architecto dignissimos, eveniet provident exercitationem quas officiis atque
            in totam minus tempore? Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore iusto voluptas
            itaque sint magnam? Eius ipsa suscipit quisquam, enim quia ab assumenda, nobis autem sint soluta optio
            obcaecati deleniti libero. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat, sint vel
            impedit atque possimus iusto, quis alias perspiciatis labore nesciunt, odio nam nisi dolor reprehenderit
            veniam debitis. Hic, corporis assumenda?</p>
          <div class="row" style="background-color: white;">
            <div class="col-sm-6">
              <h4>Students Roster</h4>
              <hr>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia laborum harum ipsa facilis veniam.
                Ex,
                tenetur sequi dolores sapiente deleniti alias explicabo eos quidem recusandae fugit, nobis consequatur,
                error molestiae.</p>
            </div>
            <div class="col-sm-6">
              <h4>Homework Listing</h4>
              <hr>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae architecto temporibus sequi deleniti
                officia corrupti omnis, enim saepe rerum rem sed, aspernatur, fuga quasi error. Ullam aperiam inventore
                voluptates eaque.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-2"></div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>
<%- include('partials/head') -%>