<%- include('partials/head') -%>

<%- include('partials/navbar') -%>

<div class="container content">
    <h2>
        <i class="fas fa-chalkboard"></i>
        class_name
    </h2>
    <hr>
    <div class="row detail-view">
        <div class="col-md-6 col-12">
            <h4>
                <i class="fas fa-users"></i>
                Students
            </h4>
            <hr>
            <ol>
                <li><a href="#">last_name, first_name</a></li>
                <li><a href="#">last_name, first_name</a></li>
                <li><a href="#">last_name, first_name</a></li>
                <li><a href="#">last_name, first_name</a></li>
                <li><a href="#">last_name, first_name</a></li>
            </ol>
        </div>
        <div class="col-md-6 col-12">
            <h4>
                <i class="fas fa-clipboard-list"></i>
                Assignments
            </h4>
            <hr>
            <p>
                <a href="#">
                task_name</a>
            </p>
            <p>
                <a href="#">
                task_name</a>
            </p>
            <p>
                <a href="#">
                task_name</a>
            </p>
        </div>
    </div>
    <div class="row details-view">
        <div class="col-12">
          <h4>
            <i class="fas fa-folder-open"></i>
            Lesson Plans
          </h4>
          <hr>
        </div>
    </div>
</div>


<%- include('partials/footer') -%>