<%- include('partials/head') -%>

<%- include('partials/navbar') -%>

<div class="container-fluid content">
  <div class="row details-view">
    <div class="col-12 welcome bg-purple">
      <img class="profile-img" src="https://via.placeholder.com/150" alt="Teacher Picture">
      <h2 class="profile-name">Welcome back, teacher_name!</h2>
    </div>
    <div class="col-sm-6 section bg-grey">
      <h4 class="section-header">
        <i class="fas fa-calendar-alt"></i>
        Calendar
      </h4>
      <hr>
      <div class="responsiveCal">
        <iframe
        src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FLos_Angeles&amp;src=dGhpc2lzYXBwbGVhbm5hQGdtYWlsLmNvbQ&amp;src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;src=dGllYzRpY2cwM3NsZXBmdjY4amZ0OXFsazBAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%2322AA99&amp;color=%23329262&amp;color=%239F3501&amp;color=%231F753C&amp;title=School%20Events"
        style="border-width:0" width="800" height="600" frameborder="0" scrolling="no">
        </iframe>
      </div>
    </div>
    <div class="col-sm-6 section bg-grey">
      <h4 class="section-header">
        <i class="fas fa-chalkboard"></i>
        Classes
      </h4>
      <hr>
      <div class="row">
        <div class="col-11 section overview-item">
          <h3 class="overview-header">Composition</h3>
          <h5 class="overview-text">Grade 9</h5>
        </div>
        <div class="col-11 section overview-item">
          <h3 class="overview-header">Creative Writing</h3>
          <h5 class="overview-text">Grade 11</h5>
        </div>
        <div class="col-11 section overview-item">
          <h3 class="overview-header">Linguistics</h3>
          <h5 class="overview-text">Grade 10</h5>
        </div>
        <div class="col-11 more-overview-items">
          <a class="add-btn" href="#"><i class="fas fa-plus"></i></i></a>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>