<%- include('partials/head') -%>

<%- include('partials/navbar') -%>

<!-- DASHBOARD -->
<div class="container content">
  <div class="row details-view">
    <!-- WELCOME -->
    <div class="col-12 welcome bg-purple">
      <h2 class="profile-name">Welcome back, teacher_name!</h2>
    </div>
    <!-- CALENDAR PREVIEW -->
    <div class="col-sm-6 section bg-grey">
      <h4 class="section-header" style="color: #5f6caf;">
        <a href="/calendar" style="color: #5f6caf;"><i class="fas fa-calendar-alt" style="color: #5f6caf;"></i>
          Calendar</a>
      </h4>
      <hr>
      <div class="responsiveCal">
        <iframe
          src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FLos_Angeles&amp;src=dGhpc2lzYXBwbGVhbm5hQGdtYWlsLmNvbQ&amp;src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;src=dGllYzRpY2cwM3NsZXBmdjY4amZ0OXFsazBAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%2322AA99&amp;color=%23329262&amp;color=%239F3501&amp;color=%231F753C&amp;title=School%20Events"
          style="border-width:0" width="800" height="600" frameborder="0" scrolling="no">
        </iframe>
      </div>
    </div>
    <!-- CLASSES OVERVIEW -->
    <div class="col-sm-6 section bg-grey">
      <h4 class="section-header">
        <i class="fas fa-chalkboard"></i>
        Classes
        <div class="float-right add-remove" id="#addclass">
          <i class="fas fa-plus" data-toggle="modal" data-target="#addclass"></i>
        </div>
        <%- include('partials/addclass') -%>
        <hr>
      </h4>
      <div class="row" id="class-list">
        <!-- <div class="col-11 section overview-item">  -->
          <!-- <ul class="list-group"> -->
          <!-- <a href="/classes">
            <h3 class="overview-header>
              Composition
              <a class="float-right delete-btn" href="#"><i class="fas fa-trash-alt"></i>
              </a>
            </h3>
            <h5 class="overview-text">Grade 9</h5>
          </a> -->
          <!-- </ul> -->
         <!-- </div> -->
      </div>
    </div>
  </div>

</div>

<%- include('partials/footer') -%>