<%- include('partials/head') -%>

<%- include('partials/navbar') -%>

<div class="container-fluid">
      <div class="row">
        <div class="col-sm-2"></div>
        <br>
        <div class="col-sm-8 rounded" style="background-color: white;">
          <br>
          <div><img class="img-fluid rounded mr-2 mt-2 mb-2" src="./assets/images/teacher.jfif"
              alt="picture of teacher">
          </div>
          <div>
            <h2 id="techer-name">Teacher's Name Goes here</h2>
          </div>

          <hr>
          <br>

          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-6">
                <h4>Classes Quick view</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis impedit adipisci quo ab
                  consequatur
                  vero minus, eum suscipit ipsum quasi harum magni provident quaerat maiores cum consectetur voluptatem
                  aliquam rerum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, et dignissimos
                  illum dolore totam commodi fugit. Sit repellendus unde ut itaque eum debitis blanditiis impedit,
                  voluptate suscipit, esse ratione doloribus.</p>
              </div>
              <div class="col-sm-6">
                <h4>Calender Quick view</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro dolore, dicta sequi ex excepturi
                  pariatur tempore facilis non veniam neque? Harum commodi dolore suscipit incidunt cum iusto aliquid
                  cumque ducimus! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi asperiores ipsam est
                  quo
                  labore facere quibusdam, voluptatem totam voluptatibus quasi esse aliquid eligendi voluptate iure eum
                  delectus, nostrum rerum dolorem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores
                  fugit suscipit quidem reprehenderit veniam ducimus, tenetur vitae unde non repellat magni aut quod
                  dignissimos voluptas alias, labore animi.</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

<%- include('partials/footer') -%>