<%- include('partials/head') -%>

<%- include('partials/navbar') -%>

<div class="container content">
  <div class="header">
    <img class="profile-img" src="https://via.placeholder.com/150" alt="Teacher Picture">
    <h2 class="profile-name">Welcome back, teacher_name!</h2>
  </div>
  <hr>
  <div class="row details-view">
    <div class="col-sm-6">
      <h4>
        <i class="fas fa-calendar-alt"></i>
        Calendar
      </h4>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis impedit adipisci quo ab consequatur vero minus, eum suscipit ipsum quasi harum magni provident quaerat maiores cum consectetur voluptatem aliquam rerum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, et dignissimos illum dolore totam commodi fugit. Sit repellendus unde ut itaque eum debitis blanditiis impedit, voluptate suscipit, esse ratione doloribus.</p>
    </div>
    <div class="col-sm-6">
      <h4>
        <i class="fas fa-chalkboard"></i>
        Classes
      </h4>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro dolore, dicta sequi ex excepturi pariatur tempore facilis non veniam neque? Harum commodi dolore suscipit incidunt cum iusto aliquid cumque ducimus! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi asperiores ipsam est quo labore facere quibusdam, voluptatem totam voluptatibus quasi esse aliquid eligendi voluptate iure eum delectus, nostrum rerum dolorem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores fugit suscipit quidem reprehenderit veniam ducimus, tenetur vitae unde non repellat magni aut quod dignissimos voluptas alias, labore animi.
      </p>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>