<%- include('partials/head') -%>

<%- include('partials/navbar') -%>

<!-- LESSON PLAN VIEW -->
<div class="container content">
  <h2>
    <i class="fas fa-folder-open"></i>
    <span class="section-header-space">lesson_plan_title</span>
    <div class="float-right add-remove">
      <a href="/index"><i class="fas fa-arrow-circle-left" style="color: #5f6caf;"></i></a>
    </div>
  </h2>
  <hr>
  <div class="row detail-view">
    <div class="col-12 section section-height scroll bg-grey">
    </div>
  </div>
</div>

<%- include('partials/footer') -%>