<%- include('partials/head') -%>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div class="content-center rounded mt-5">
        <form class="form-signin">
          <h1>teachersPET</h1>
          <h1 class="h3 mb-3 font-weight-normal">Sign Up</h1>
          <label for="inputEmail" class="sr-only">E-Mail</label>
          <input type="email" id="inputEmail" class="form-control" placeholder="E-Mail" required="" autofocus="">
          <label for="firstName" class="sr-only">First Name</label>
          <input type="text" id="firstName" class="form-control" placeholder="First Name" required="" autofocus="">
          <label for="lastName" class="sr-only">Last Name</label>
          <input type="text" id="lastName" class="form-control" placeholder="Last Name" required="" autofocus="">
          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
          <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
        </form>
        <div class="col-sm-2"></div>
      </div>
    </div>
  </div>
</div>
<%- include('partials/footer') -%>