<%- include('partials/head') -%>

<%- include('partials/navbar') -%>

<div class="container-fluid">
    <div class="row">
      <br>
      <div class="col-sm-2"></div>
      <div class="col-sm-8 rounded content">
        <div class="student-header">
            <img class="student-img" src="https://via.placeholder.com/150" alt="Student Picture">
            <h2 class="student-name">last_name, first_name</h2>
        </div>
        <hr>
        <div class="student-body">
            <div class="row">
                <div class="col-md-6 col-12">
                    <p>
                        <i class="fas fa-at"></i>
                        <a href="mailto:email"></a>
                    </p>
                    <p>
                        <i class="fas fa-home"></i>
                        address
                    </p>
                    <p>
                        <i class="fas fa-user-friends"></i>
                        contact_name
                    </p>
                    <p>
                        <i class="fas fa-phone"></i>
                        contact_phone
                    </p>
                </div>
                <div class="col-md-6 col-12">
                    <p>
                        <i class="far fa-edit"></i><br>
                        notes notes notes notes notes notes notes notes notes notes notes notes notes notes notes notes notes notes notes notes notes notes notes notes notes notes notes notes notes notes notes notes notes notes notes notes
                    </p>
                    <a class="add-btn" href="#"><i class="fas fa-plus"></i></i></a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-12 assignment-view">
                    <h4>Assignments</h4>
                </div>
                <div class="col-md-6 col-12 grades-view">
                    <h4>Grades</h4>
                </div>
            </div>
        </div>
      </div>
      <div class="col-sm-2"></div>
    </div>
  </div>
</div>


<%- include('partials/footer') -%>