/****************************************************************
 COLORS
****************************************************************/
:root {
  --primary: #5f6caf;
  --secondary: #ffb677;
  --tertiary: #ff8364;
  --content: #ffffff;
  --text: #373F47;
  --background__light: #fafafa;
  --background__dark: #364754;
  --shadow: #eeeeee;
}

/****************************************************************
 GENERAL
****************************************************************/
html,
body {
  background-color: var(--background__dark);
  color: var(--text);
  font-family: "Lato", Arial, sans-serif;
  height: 100%;
}
footer {
  height: 4rem;
  margin-top: 1rem;
}
.bg-grey {
  background-color: var(--background__light);
}
.bg-purple {
  background-color: var(--primary);
  color: var(--content);
}
.logo-text,
  .logo-text-lg,
  .signin-header,
  .section-header,
  .overview-header,
  .overview-header a,
  .modal-title {
    font-family: "Quicksand", Arial, sans-serif;
}
.signin-header,
  .section-header,
  .overview-header a,
  .modal-title {
    font-weight: 600;
}

/****************************************************************
 NAVBAR + FOOTER
****************************************************************/
.navbar {
  background-color: var(--background__dark);
  height: 4rem;
}
.logo {
  height: 3rem;
  margin-top: -0.5rem;
  width: 3rem;
}
.navbar a,
  .footer a {
  color: var(--content);
}
.navbar a:hover {
  color: var(--secondary);
  text-decoration: none;
}
.logo-text {
  font-size: 1.7rem;
}
.list-group-item {
  line-height: 2.5;
}
.footer-div {
  width: 95%;
}
.dev-name {
  color: var(--content);
  font-size: 1rem;
  margin-bottom: 0.15rem;
}
.dev-links {
  color: var(--content);
  font-size: 1.25rem;
  margin: 0 0.2rem 0 0;
}
.dev-links:hover {
  color: var(--secondary);
}
.icon-smaller {
  font-size: 1rem;
}
.logo-footer {
  height: 2.5rem;
  width: 2.5rem;
}

/*************************************************
 LOGIN
*************************************************/
.content-center {
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: var(--content);
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.logo-text-lg {
  font-size: 5rem;
}
.signin-header {
  font-size: 2rem;
  font-weight: 400;
}
.signup-link {
  margin-top: 0.5rem;
}
.signup-link-btn {
  font-weight: 700;
  margin-left: 0.5rem;
}
.add-remove {
  display: inline;
}
.add-remove:hover,
  .add-remove a:hover {
    color: var(--secondary);
}
#login-btn,
  #signup-btn {
  background-color: var(--tertiary);
  border: none;
  font-weight: 600;
}
#login-btn:hover,
  #signup-btn:hover {
    background-color: var(--secondary);
}
.signin-header,
  .signup-link-btn,
  .add-remove a,
  .section-header a {
    color: var(--primary);
}
.signup-link-btn:hover {
  color: var(--secondary);
  text-decoration: none;
}
#logout-btn {
  color: var(--content);
  font-family: "Quicksand", Arial, sans-serif;
  font-weight: 600;
}
#logout-btn:hover {
  color: var(--secondary);
}

/*************************************************
 ERROR
*************************************************/
.error-message {
  background-image: linear-gradient(#36475440, #36475440), url('/images/error-img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  height: 80vh;
}
.error {
  color: #ffffff90;
  font-size: 3rem;
  margin-top: 2rem;
  width: 25rem;
}
.back-btn {
  color: var(--content);
  font-size: 3rem;
}
.back-btn:hover {
  color: var(--secondary);
  font-size: 3rem;
}

/*************************************************
 STUDENT + CLASSES VIEW
*************************************************/
.content {
  background-color: var(--content);
  border: none;
  border-radius: 1rem;
  padding: 2rem 3rem;

  height: 80vh;
}
.profile-img {
  border: 2px solid var(--content);
  border-radius: 50%;
  padding: 4px;
  height: 6rem;
}
.profile-name {
  display: inline-block;
  font-size: 3rem;
  margin-left: 1rem;
}
.badge-id {
  background-color: var(--tertiary);
  font-size: 0.75rem;
}
.add-btn {
  border: none;
  color: var(--text);
}
.add-btn:hover,
  .muted-link:hover {
  color: var(--secondary);
  text-decoration: none;
}
.contact-details {
  margin-top: 1.5rem;
}
.muted-link {
  color: var(--text);
}
.lesson-date {
  font-size: 1.25rem;
  font-weight: 700;
}
tr:first-child {
  border-bottom: 1px solid var(--text);
}
th {
  padding: 0.25rem;
}
td:first-child {
  width: 2rem;
}
td {
  border-right: 1px solid var(--text);
  padding: 0.25rem;
  width: 8rem;
}
td:nth-child(4) {
  border: none;
  width: 14rem;
}
.student-link {
  color: var(--text);
}
.student-link:hover {
  font-weight: 800;
  text-decoration: none;
}

/************************************************
 CALENDAR
************************************************/
.responsiveCal{
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}
.responsiveCal iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/************************************************
 DASHBOARD
***********************************************/
.welcome,
  .section,
  .content,
  .overview-item {
    border: none;
    box-shadow: 0px 0px 4px var(--shadow);
    border-radius: 1rem;
}
.content {
  box-shadow: 0px 0px 4px var(--background__dark);
}
.welcome {
  border: none;
  box-shadow: 0px 0px 4px var(--shadow);
  border-radius: 1rem;
  color: var(--content);
  font-size: 4rem;
  height: 8rem;
  line-height: 7.5rem;
  margin-bottom: 1rem;
}
.section {
  padding: 1.25rem;
  margin-top: 0.5rem;
}
.section-header {
  color: var(--primary);
}
.section-header-space {
  margin-left: 0.5rem;
}
.section-height {
  height: 16rem;
}
.scroll {
overflow: scroll;
}
.overview-item {
  color: var(--content);
  height: 5rem;
  margin: 0.25rem auto;
  padding: 0.75rem 1rem;
}
.overview-item:nth-child(odd) {
  background-color: var(--secondary);
}
.overview-item:nth-child(even) {
  background-color: var(--tertiary);
}
.overview-header {
  font-size: 1.25rem;
  font-weight: 700;
}
.overview-header a {
  color: var(--content);
}
.section-header a:hover,
  .overview-header a:hover {
    color: var(--text);
    text-decoration: none;
}
.overview-text {
  color: var(--content);
  font-size: 1rem;
}
.more-overview-items {
  color: var(--content);
  height: 1.5rem;
  margin: 0.25rem auto;
  text-align: center;
}
.delete-btn,
.class-delete-btn,
.studnet-delete-btn,
.lessonplan-delete-btn,
.assignment-delete-btn {
  font-size: 0.8rem;
}

/************************************************
 MODALS
************************************************/
.modal-title {
  font-size: 1.5rem;
  font-weight: 600;
}
.input-title {
  color: var(--text);
  font-size: 1rem;
}
.modal-btn, .btn {
  background-color: var(--secondary);
  border: none;
  color: var(--content);
  font-weight: 600;
}
